<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TodoList App</title>
</head>

<body>
    <div class="conatiner">
        <div class="row">
            <div class="offset-md-3 col-md-6 text-center">
                <h1 class="display-4">Todo List App</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Title</label>
                        <input type="text" id="title" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="des" rows="3"></textarea>
                    </div>

                    <button id="btn" type="sumbit" class="btn btn-outline-success">Add</button>
                </form>



                <p>
                    <hr>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>