<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sam's Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Sam's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add Post</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>

            </ul>
        </div>
    </nav>



    <div class="container-fluid" id="content">
        <div class="row">
            <div class=" offset-md-3 col-md-5">
                {{#if success}}
                <div class="alert alert-success">
                    <strong>Welcome</strong> You have logged in successfully
                </div>
                {{/if}}
                {{#if failed}}
                <div class="alert alert-danger">
                    <strong>Sorry</strong> Please Enter The Correct Username And Password.
                </div>
                {{/if}}
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="Email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Enter email id" name="email">

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="pas" name="pas">
                    </div>

                    <button type="submit" class="btn btn-success">Login</button>
                </form>

            </div>

        </div>
    </div>
</body>

</html>